html, body {
    margin: 0;
    padding: 0;
    display: flex;
}
canvas {
 
}
h5 {
    margin: 5px 0px 0px 0px;
    text-align: center;
    font-family: monospace;
    font-size: 12px;
}

#alldiv {

}
#colpick {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto 5px auto;

}
#rad {
    display: flex;
    position: relative; 
    margin-left: 45px;
    padding-top: 5px;
}

#randdiv {
    display: flex;
    margin-left: 50px;
    margin-top: 5px;
}
#btn {
    display: flex;
    position: relative;
    margin-left: 45px;
    margin-top: 5px;
}
