html, body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: monospace;
    font-size: 12px;
    text-align: center;
    
}
canvas {
 
}
h5 {
    margin: 5px 0px 0px 0px;
    text-align: center;
}

#alldiv {

}
#colpick {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto 5px auto;

}
#rad {
    display: flex;
    position: relative; 
    margin-left: 45px;
    padding-top: 5px;
    align-items: center;
}
[type="checkbox"]{
    vertical-align: middle;
    background-color: red;
}
label {
    padding-left: 5px;
}
#randdiv {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    padding: 0px 10px 0px 10px;
}
#btn {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.buttons {
    width: 70px;
    height: 30px;
    font-family: monospace;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
}
.buttons:hover {
    color: white;
    background-color: black;
    transform: scale(1.1);
    transition: 0.3s;
}
.chkbox {
    
}
.chkbox:hover {
    
}


